#head_bar {
    width: 100%;
    height: 40px;
}

#head_img {
    width: 100%;
    height: 140px;
    overflow: hidden
    
}

#head_img img {
    width: 100%;
    height: auto;
}

#body {
    width: 1200px;
    height: 2000px;
    margin: 0px auto;
}

#body_navigation_bar {
    margin-top: 50px;
    width: 1200px;
    height: 50px;
}

#img_info {
    width: 1200px;
    height: 350px;
    border: 1px solid transparent;
}

#body_img_t {
    width: 500px;
    height: 250px;
    margin-top: 100px;
    margin-left: 50px;
    float: left;
}

#person_info_card {
    width: 500px;
    height: 350px;
    float: right;
}

#person_infocard {
    margin-top: 60px;
    margin-left: 95px;
}

#body_wenzan {
    width: 1200px;
    margin: 0px auto;
    padding-top: 50px;
}

#head_wenzan_left {
    width: 650px;
    float: left;
    padding-top: 30px;
}

#head_wenzan_right {
    width: 500px;
    float: right;
}

#wenzan_div {
    padding-left: 50px;
}

#wenzan_hr {
    float: left;
    width: 100%;
}

.content_div {
    padding: 10px 20px;
}

.img_show {
    width: 100px;
    height: 80px;
}

.new_img_show_s {
    width: 100px;
    height: 80px;
    margin-top: 10px;
    margin-left: 12.5px;
}

.little_demo_show_s {
    width: 320px;
    height: 100px;
    margin-left: 12.5px;
    margin-top: 7px;
}

.update_row_div {
    width: 320px;
    margin-top: 10px;
    margin-left: 12.5px;
}

#update_span_title {
    float: left;
    width: 150px;
    margin-left: 0px;
}

#update_span_time {
    /*width: 120px;*/
    /*margin-left: 20px;*/
}

#little_demo_show {
    padding-top: 10px;
}

#demo_title_span {
    float: left;
    margin-left: 12.5px;
    width: 150px;
}

#demo_time_span {
    float: right;
    width: 120px;
}

#demo_show_div {
    margin-top: 20px;
}

#bottom_span {
    width: 20px;
    margin: 10px auto;
}

#wenzan_title_span {
    font-size: 30px;
    padding-bottom: 30px;

}



#cotent_privide {
    margin-top: 20px;
    width: 1200px;
    height: 50px;
}

#cotent_privide_font {
    width: 1200px;
    height: 50px;
    padding-left: 50px;
    font-size: 30px;
    color: greenyellow;
    font-family: "Meiryo UI", "YaHei Consolas Hybrid", Consolas, "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;

}

/*

时间轴

*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

/* _variables.css */

/* _mixins.css */

/* _global.css */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    background: -webkit-linear-gradient(right, #BE93C5 , #7BC6CC);
    background: linear-gradient(to left, #BE93C5 , #7BC6CC);
}

/*img {*/
    /*max-width: 100%;*/
    /*height: auto;*/
/*}*/

/* _site-header.css */
.site-header {
    text-align: center;
    padding: 40px 0;

}
.site-header__title {
    font-size: 36px;
    color: #fff;
}

/* _wrapper.css */
.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
}


/* _timeline.css */
.timeline {
    position: relative;
    margin: 30px auto;
    padding: 60px 0;

}
.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 4px;
    height: 100%;
    background-color: #8d94b1;
}
@media (min-width: 800px){
    .timeline::before{
        left: 50%;
        margin-left: -2px;
    }
}
.timeline__item {
    margin-bottom: 100px;
    position: relative;
}
.timeline__item::after{
    content: "";
    clear: both;
    display: table;
}
.timeline__item:nth-child(2n) .timeline__item__content {
    float: right;
}
.timeline__item:nth-child(2n) .timeline__item__content::before {
    content: '';
    right: 40%;
}
@media (min-width: 800px){
    .timeline__item:nth-child(2n) .timeline__item__content::before{
        left: inherit;
    }
}
.timeline__item:nth-child(2n) .timeline__item__content__date {
    background-color: #b292c5;
}
.timeline__item:nth-child(2n) .timeline__item__content__description {
    color: #b292c5;
}
.timeline__item:last-child {
    margin-bottom: 0;
}
.timeline__item-bg {
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    color: #fff;
}
.timeline__item-bg:nth-child(2n) .timeline__item__station {
    background-color: #b292c5;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content {
    background-color: #b292c5;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content::before {
    background-color: #b292c5;
}
.timeline__item-bg:nth-child(2n) .timeline__item__content__description {
    color: #fff;
}
.timeline__item-bg .timeline__item__station {
    background-color: #65adb7;
}
.timeline__item-bg .timeline__item__content {
    background-color: #65adb7;
}
.timeline__item-bg .timeline__item__content::before {
    background-color: #65adb7;
}
.timeline__item-bg .timeline__item__content__description {
    color: #fff;
}
.timeline__item__station {
    background-color: #9aa0b9;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    top: 0;
    left: 10%;
    margin-left: -33px;
    border: 4px solid #8d94b1;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
@media (min-width: 800px){
    .timeline__item__station{
        left: 50%;
        margin-left: -30px;
        width: 60px;
        height: 60px;
        padding: 15px;
        border-width: 6px;
        color: white;
    }
}
.timeline__item__content {
    width: 80%;
    background: #fff;
    padding: 20px 30px;
    border-radius: 6px;
    float: right;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
@media (min-width: 800px){
    .timeline__item__content{
        width: 40%;
        float: inherit;
        padding: 30px 40px;
    }
}
.timeline__item__content::before {
    content: '';
    position: absolute;
    left: 10%;
    background: #8d94b1;
    top: 20px;
    width: 10%;
    height: 4px;
    z-index: -1;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
@media (min-width: 800px){
    .timeline__item__content::before{
        left: 40%;
        top: 30px;
        height: 4px;
        margin-top: -2px;
    }
}
.timeline__item__content__date {
    margin: 0;
    padding: 8px 12px;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #65adb7;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid #fff;

}
.timeline__item__content__description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #65adb7;
}
@media (min-width: 800px){
    .timeline__item__content__description{
        font-size: 19px;
        line-height: 28px;
    }
}

/* _site-footer.css */
.site-footer {
    padding: 50px 0 200px 0;

}
.site-footer__text {
    color: #e6e6e6;
    font-size: 14px;
    text-align: center;
}
.site-footer__text__link {
    color: #8287a9;
}

/*
*
* info kard
*
*/
#person_infocard{ font-family: Lato,'Open Sans', sans-sarif;
    font-size: 16px;
    /*background-color: #1F1F1F;*/
}


/**{margin: 0; padding: 0; box-sizing: border-box;}*/
/*.container{margin: 0 auto; max-width: 1000px;}*/
/*.row{width: 103%; float: left; margin: 110px -1.5%;}*/

/*= common css to all effects =*/
.single-member{width: 280px; float: left; margin: 30px 2.5%; background-color: #fff; text-align: center; position: relative;}
.member-image img{max-width: 100%; vertical-align: middle;}
h3 {font-size: 24px; font-weight: normal; margin: 10px 0 0; text-transform: uppercase;}
h5 {font-size: 16px; font-weight: 300; margin: 0 0 15px; line-height: 22px;}
p {font-size: 14px; font-weight: 300; line-height: 22px; padding: 0 30px; margin-bottom: 10px;}
.social-touch a{display: inline-block; width: 27px; height: 26px; vertical-align: middle; margin: 0 2px; background-image: url(../img/social-icons.png); background-repeat: no-repeat; opacity: 0.7; transition: 0.3s;}
.social-touch a:hover{opacity: 1; transition: 0.3s;}
.fb-touch{background-position: 0 0;}
.tweet-touch{background-position: -35px 0;}
.linkedin-touch{background-position: -71px 0;}
.icon-colored .fb-touch{background-position: 0 -27px;}
.icon-colored .tweet-touch{background-position: -35px -27px;}
.icon-colored .linkedin-touch{background-position: -71px -27px;}
/*= common css to all effects end =*/

/*= effect-1 css =*/
.effect-1{border-radius: 5px 5px 0 0; padding-bottom: 40px;}
.effect-1 .member-image {border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-top: -72px; overflow: hidden;
    border-color: #e13157;
    transition: 0.3s;}
.effect-1 .social-touch{background-color: #e13157; position: absolute; left: 0; bottom: 0; height: 5px; overflow: hidden; padding: 5px 0 0; width: 100%; transition: 0.3s;}
.effect-1 .member-image img{transition: 0.3s; border-radius: 60px 0;}
.effect-1:hover .social-touch{padding: 6px 0; height: 38px; transition: 0.3s;}
/*= effect-1 css end =*/


