
body{

    /*box-sizing: border-box;*/
    /*background-size: cover;*/

    width:100%;
    height: 100%;


    background: url("../img/login.jpg");

    background-repeat:no-repeat ;

    background-size:100% 100%;

    background-attachment: fixed;

}

#login {

    /*margin: 300px auto;*/

    width: 400px;
    height: 250px;
    padding: 10px 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    border-radius: 5px;
    box-shadow: 0 0 0 1px hsla(240,0%,100%,.3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px hsla(240,0%,100%,.5);
    background-color: rgba(100,100,100,.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;

}

#login-head {
    height: 30px;
    margin-top: 0px;
    color: white;
}

#username-input {
    margin-top: 55px;
    filter: Alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.85;
}

#password-input {
    margin-top: 10px;
    filter: Alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.85;
}

#login-button {

    margin-top: 10px;
    width:100px;
    height:30px;
    float: right;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    background-color: white;


    filter: Alpha(Opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.85;

}