
#blog_read_top_img_div {
    width: 100%;
    height: 400px;
    /* /* overflow: hidden; */
    overflow:hidden;
}

#blog_read_top_img {
    width: 100%;
    height: auto;
}

#body_navigation_bar {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

#blog_read_top {
    width: 100%;
    height: 100px;
    float: left;
}

#blog_read_body {
    width: 1000px;
    min-height: 1000px;
    overflow:hidden;
    margin: 20px auto;
    margin-bottom: 100px;
}

#blog_read_editormd {
    margin-top: 50px;
    width: 1000px;
}

#blog_read_info {
    margin: 20px auto;
    width: 1000px;
}

#content {
    margin-top: 100px;
}

#blog_read_logo {
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-left:120px;
    float: left;
}

#blog_read_right_info {
    float: right;
    margin-top: 30px;
    margin-right: 100px;
}

#blog_read_footer {
    margin: 6px auto;
    width: 98%;
    height: 30px;
    background: gray;
}


.w_label {
    font-size: 16px;
}

#blog_read_save_release {
    margin-left: 10px;
}

#blog_read_exit_btn {
    margin-left: 10px;
}

#blog_read_time {
    float: right;
}

#comment_tip {
    width: 100%;
    height: 30px;
}
#comment_tip span {
    float: left;
    font-size: 25px;
}

#comment {
    height: 300px;
    margin-top: 50px;
    margin-bottom: 250px;
    width: 1000px;
    margin: 20px auto;

}

#comment_text {
    width: 1000px;
    height: 100px;
    margin: 20px auto;
}
