<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">


      <!-- <div class="layui-row layui-col-space15">
        <div class="layui-col-md3">
          <div class="layui-card">
            <div class="layui-card-body">
              访客 
            </div>
          </div>
        </div>
        <div class="layui-col-md3">
          <div class="layui-card">
            <div class="layui-card-body">
              新用户
            </div>
          </div>
        </div>
        <div class="layui-col-md3">
          <div class="layui-card">
            <div class="layui-card-body">
              销售额
            </div>
          </div>
        </div>
        <div class="layui-col-md3">
          <div class="layui-card">
            <div class="layui-card-body">
              成交量
            </div>
          </div>
        </div>
      </div> -->

    </div>
    <div class="layui-col-md12">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">
                    3459
                </div>
                <div class="layui-card-body">
                  <p style="margin-bottom: 5px;"> </p>
                  <!-- <p style="margin-bottom: 5px;">源码下载:
                    <a href='https://gitee.com/kitteam/kit_admin/' target="_blank">
                      <img src='https://gitee.com/kitteam/kit_admin/badge/star.svg?theme=white' alt='star'></img>
                    </a>
                    (模板源码)
                  </p>
                 -->
                </div>
              </div>
            </div>
            <div class="layui-col-md6">
              <div class="layui-card">
                <div class="layui-card-header">Study</div>
                <div class="layui-card-body">
                  <div id="container1" style="height:350px;"></div>
                </div>
              </div>
            </div>
            <div class="layui-col-md6">
              <div class="layui-card">
                <div class="layui-card-header" >Markdown</div>
                <div class="layui-card-body">
                  <div id="main" style="height:350px;"></div>
                </div>
              </div>
            </div>
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">Future</div>
                <div class="layui-card-body">
                  <div id="main1" style="height:350px;"></div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="layui-col-md4">
          <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">快捷入口</div>
                <div class="layui-card-body">
                  <div class="layui-row layui-col-space5">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                      <div style="height:75px;  background-color:#ccc; padding: 10px 10px; ">
                          <a href='http://www.redwys.xyz/'  target="_blank" style="color: gray;" >
                            -001
                          </a>
                      </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
                      <div style="height:75px;  background-color:#ccc; padding: 10px 10px; ">
                          <a href='https://gitee.com/redmaple001' target="_blank" style="color: gray;" >
                            码云
                          </a>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm12 layui-col-md4">
                      <div style="height:75px;  background-color:#ccc; padding: 10px 10px; ">
                          <a href='https://github.com/likexiecode' target="_blank" style="color: gray;" >
                            github
                          </a>
                      </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
                      <div style="height:75px;  background-color:#ccc; padding: 10px 10px; ">
                          <a href='http://127.0.0.1:5500/html/001.html'  target="_blank" style="color: gray;" >
                            read-index
                          </a>
                      </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">
                      <div style="height:75px;  background-color:#ccc; padding: 10px 10px; ">
                         
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">版本信息</div>
                <div class="layui-card-body">
                  <table class="layui-table">
                    <colgroup>
                      <col width="150">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <td>版本号</td>
                        <td>1.0</td>
                      </tr>
                      <tr>
                        <td>依赖</td>
                        <td>后台模块 layui v2.2.5</td>
                      </tr>
                      <tr>
                          <td>使用</td>
                          <td>前后台分离</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="layui-col-md12">
              <div class="layui-card">
                <div class="layui-card-header">read</div>
                <div class="layui-card-body">
                  <!-- <p> </p>
                  
                  <ul>
                    <li>1、用法一如既往的简单，快捷。(只需要简单的配置就实现一些功能).</li>
                    <li>2、提供本地开发环境。(依赖nodejs运行环境和gulp)</li>
                    <li>3、提供代码功能。(依赖nodejs运行环境和gulp)</li>
                    <li>4、模块化加载。(依赖layui模块化，用法与layui保持一致)</li>
                    <li>5、提供路由功能。(路由是本版本的核心功能了，需与模板绑定，详情请参考相关文档)</li>
                    <li>6、完全的前后端分离开发。(集成mockjs用于拦截请求并返回模拟数据，详情请参考相关文档)</li>
                    <li>7、左侧菜单重写，支持到4级菜单。(集成mockjs用于拦截请求并返回模拟数据，详情请参考相关文档)</li> -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>
<script>
  layui.config({
    base: '/src/js/'
  }).use(['jquery', 'mockjs', 'table'], function() {
    var $ = layui.jquery,
      layer = layui.layer,
      table = layui.table;

    var intervalIndex = setInterval(function() {
      if (echarts === undefined) {
        return;
      }
      // 如果eacharts加载完成，则清除循环
      clearInterval(intervalIndex);
      //echarts
      // 基于准备好的dom，初始化echarts实例
      var myChart = echarts.init(document.getElementById('main'));
      // 指定图表的配置项和数据
      var option = {
        title: {
          text: 'Article Count'
        },
        tooltip: {},
        legend: {
          data: ['数量']
        },
        xAxis: {
          data: ["java", "c", "python ","c++", "html", "js"]
        },
        yAxis: {},
        series: [{
          name: '数量',
          type: 'bar',
          data: [15, 20, 36, 10, 10, 20]
        }]
      };
      // 使用刚指定的配置项和数据显示图表。
      myChart.setOption(option);

      // echarts 1
      var myChart1 = echarts.init(document.getElementById("container1"));
      var app1 = {};
      option1 = null;
      app1.title = '极坐标系下的堆叠柱状图';

      option1 = {
        title: {
          text: '学习情况',
          subtext: '',
          x: 'center'
        },
        tooltip: {
          trigger: 'item',
          formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
          orient: 'vertical',
          left: 'left',
          data: ['前端', '其他', 'android', 'python', 'java 后端']
        },
        series: [{
          name: '访问来源',
          type: 'pie',
          radius: '55%',
          center: ['50%', '60%'],
          data: [{
            value: 335,
            name: '前端'
          }, {
            value: 310,
            name: '其他'
          }, {
            value: 234,
            name: 'android'
          }, {
            value: 135,
            name: 'python'
          }, {
            value: 1548,
            name: 'java 后端'
          }],
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowOffsetX: 0,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }]
      };
      if (option1 && typeof option1 === "object") {
        myChart1.setOption(option1, true);
      }

      // echart2

      if (option2 && typeof option2 === "object") {
        myChart2.setOption(option2, true);
      }

      $(window).on('resize', function() {
        myChart.resize();
        myChart1.resize();
        myChart2.resize();
      });
    }, 50);

  });
</script>
<style scoped>

</style>